.btn-to-login {
    color: black;
    background-color: yellow;
    font-weight: bold;
}

.p {
    margin: 0px;
}

.container {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}